<form autocomplete="off">
  {{> "genefunk2090.advancement-controls"}}

  <div class="form-group">
    <label>{{localize "DND5E.AdvancementHint"}}</label>
    <textarea name="configuration.hint" placeholder="{{default.hint}}">{{configuration.hint}}</textarea>
  </div>

  {{> "genefunk2090.trait-list" choices=sizes prefix="configuration.sizes"}}
</form>
